
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

nav .iconp{
    content: url('https://api.iconify.design/ph/t-shirt.svg?color=white');
    width: 70.253333333px;
    height: 53.3333px;
}
nav{
    background-color: #034872;
}

#titulo{
    color: white;
    font-size: 113.33333px;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: "Roboto", sans-serif;
}

#eslogan{
    font-size: 26.6667px;
    color: white;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 90px;
}

.subtitulo{
    background-color: #034872;
    text-align: center;
    font-size: 69.3333px;
    color: white;
    font-family: "Roboto", sans-serif;
}

.texto_simple{
    -background-color: #034872;
    width: 656px;
    height: 202.6667px;
    text-align: center;
    font-size: 26.6667px;
    color: white;
    font-family: "Roboto", sans-serif;
    
}

header{
    margin-top: 80px;
}



#caja1{
    position: relative;
    top: 455px;
    left: -415px;
    width: 2100px;
    height: 514.6667px;
    background-color:#034872; 
    border-width: 0px;
    border-radius: 100px;
    border-style: ridge;
    z-index: -1;
}

#caja2{
    position: relative;
    top: 780px;
    right: -435px;
    width: 2100px;
    height: 514.6667px;
    background-color:#034872; 
    border-width: 0px;
    border-radius: 100px;
    border-style: ridge;
    z-index: -1;
}

#caja3{
    position: relative;
    top: 1100px;
    left: -415px;
    width: 2100px;
    height: 514.6667px;
    background-color:#034872; 
    border-width: 0px;
    border-radius: 100px;
    border-style: ridge;
    z-index: -1;
}

#caja_perfil{
    position: relative;
    top: -140px;
}

#caja_buscar{
    position: relative;
    top: -150px;
}

#caja_diseños{
    position: relative;
    top: -125px;
}

body{
    background-image: url("background2.png");
    background-repeat: no-repeat;
    width: 99%;
    height: 100%;
    overflow-x: hidden;
}

.boton{
    padding: 10px;
    color: white;
    background-color: #D8BBA9;
    font-family: "Roboto", sans-serif;
    border-radius: 50px;
    font-size: 29.3333px;
    padding-left: 60px;
    padding-right: 60px;
}


header .boton{
    color: #02385A;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 37.33333px;
}

 
.downloadbttn{
    padding-top: 30px ;
}
.menu{
    color:white;
    font-size: 29.3333px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.icono_grande{
    content: url('https://api.iconify.design/ph/t-shirt.svg?color=white');
    width: 149.2933px;
    height: 133.3333px;
    
}

footer{
    margin-top: 100px;
    background-color: #034872;
    font-family: "Roboto", sans-serif;
    padding-bottom: 30px;
    padding-top: 25px;
}

footer .iconf{
    content: url('https://api.iconify.design/akar-icons/facebook-fill.svg?color=black');
    height: 40px;
    width: 40px;
    margin-right: 120px;
}

footer .iconi{
    content: url('https://api.iconify.design/akar-icons/instagram-fill.svg');
    height: 40px;
    width: 40px;
    margin-right: 120px;
}

footer .icony{
    content: url('https://api.iconify.design/akar-icons/youtube-fill.svg');
    height: 40px;
    width: 40px;
    margin-right: 0%;
    text-align: left;
}

.texto_footer{
    background-color: #034872;
    font-size: 29px;
    color: white
}

footer li{
    display: block;
    margin-bottom: 20px;
}

